# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
data/repos/
vectorstore/
memory/

# Streamlit
.streamlit/

# Docker
.docker/
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
